body {
    background-image: radial-gradient(circle, #ba9b5e14, #0e0908);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 750px;
    overflow: hidden;
}

.blasted {
    background-image: radial-gradient(circle, #ba9b5e14, #e27c67);
    transition: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transform: scale(1.03)
}

h1 {
    margin-top: 10px;
    padding-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5em;
    color: #2a2927;
    text-shadow: 2px 2px 25px white;
    font-size: 2.7em;
}

.game-body {
    background-image: url("../imges/militarybg.jpg");
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: 700px;
    min-width: 600px;
    max-width: 600px;
    min-height: 500px;
    max-height: 800px;
    background-color: #709fb0;
    border-radius: 2%;
    box-shadow: -5px 5px 15px black, 5px 15px 25px #393939 inset;
}

.buttons {
    position: absolute;
    left: 25%;
    bottom: 0px;
}

button {
    outline: none;
    border: none;
    width: 100px;
    height: 50px;
    font-weight: bold;
    background-color: #a0c1b8;
    font-size: large;
}

button:hover {
    background-color: #bddfd6;
}

.choosen-btn {
    background-color: #f4ebc1;
    box-shadow: 2px 2px 7px #2b2a28 inset;
}

.smile {
    position: relative;
    height: 20px;
    width: 40px;
    left: 46.2%;
    font-size: 2em;
    cursor: pointer;
}

table {
    position: relative;
    margin: auto auto;
    margin-top: 10px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: -5px 65px 35px black;
    cursor: pointer;
}

.mine-explode {
    animation: .5s linear 1s infinite alternate slidein;
}

tr,
td {
    background-color: #d6e0f0;
    width: 30px;
    height: 30px;
    font-size: 1.1em;
    text-align: center;
}

td {
    box-shadow: 2px 2px 1px white inset;
}

td:hover {
    background-color: #f9fafd;
}

.shown {
    background-color: #a8b1c1;
    box-shadow: 2px 2px 1px gray inset;
}

.mine-revaeled {
    background-color: #ffcece;
}

.mine-revaeled:hover {
    background-color: #ffcece;
}

.stats {
    position: relative;
    background-color: #803535;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    height: 60px;
    box-shadow: -5px 0px 5px black inset;
}

.lives-span,
.timer-span {
    width: 200px;
    width: 50px;
}

.lives-span {
    margin-right: 90px;
}

.best-time-h2 {
    font-size: 0.6em;
    font-weight: 500;
    color: #d6e0f0;
}

.time-container {
    position: absolute;
    right: 37%;
    top: 5%;
    font-size: 1.2em;
    display: inline;
}

.best-time-container {
    width: 150px;
    margin: 0;
    padding: 0;
    margin-top: -12px;
    color: #d6e0f0;
}

.lives-container {
    position: absolute;
    left: 3%;
    top: 10%;
    font-size: 0.8em;
}

.hints-container {
    position: absolute;
    right: -141%;
    top: -3%;
    width: 100px;
}

.hint0,
.hint1,
.hint2 {
    cursor: pointer;
    opacity: 1;
}

.hint-used {
    opacity: 0.3;
}

.safe-container {
    position: absolute;
    font-size: 24px;
    right: -70%;
    top: 4%;
    width: 100px;
}

.safe0,
.safe1,
.safe2 {
    cursor: pointer;
    opacity: 1;
}

.safe-used {
    opacity: 0.3;
}

.safe-cell {
    background-color: rgb(19, 82, 255);
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.ak-47 {
    height: 70%;
    position: absolute;
    top: 210px;
    right: -110px;
    transform: rotate(2deg);
    opacity: 0.9;
}

.ribbon {
    position: absolute;
    top: 87px;
    right: -128px
}

.boots {
    position: absolute;
    bottom: -30px;
    left: -50px;
    opacity: 0.8;
    width: 22%;
}

.hidden {
    visibility: hidden;
}

.mines-counter {
    position: absolute;
    left: 2%;
    top: 55%;
    font-size: 0.8em;
}

.flags-counter {
    position: absolute;
    left: 15%;
    top: 56%;
    font-size: 0.8em;
}